@import './variables.styl'
.home
  .home_header
    height 45px
    .van-nav-bar
      background-color #02a774
      color #fff
      height 45px
    .van-nav-bar__title
      color #fff
      font-size 20px
      max-width 50%
    .iconfont
      font-weight 700
      font-size 16px
  .swiper
    .van-grid-item__content
      padding 0
      padding-bottom 20px
    .van-icon__image
      width 50px
      height 50px
    .van-swipe__indicatosr--active
      background-color #1989fa
      opacity 1
    .van-swipe__indicator
      width 8px
      height 8px
    .van-grid-item__text
      font-size 13px
.order
  .order_header
    .van-nav-bar
      background-color #02a774
      color #fff
      height 45px
    .van-nav-bar__title
      color #fff
      font-size 20px
      max-width 50%
.search
  .search_header
    .van-nav-bar
      background-color #02a774
      color #fff
      height 45px
      .van-nav-bar__title
        color #fff
        font-size 20px
        max-width 50%
  .searchInput
    .van-search__content
      background-color #F2F2F2
.personal
  .personal_header
    .van-nav-bar
      background-color #02a774
      color #fff
      height 45px
      .van-nav-bar__title
        color #fff
        font-size 20px
        max-width 50%